  *, *::before, *::after {
	box-sizing: border-box;
	margin: 0;

}

html {
	font-size: 16px;
	font-family: Verdana, Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-height: 50px;
	height: 17vh;
	width: 100%;
	margin-bottom: 4em;
	
}

.logo {
	margin-left: 1em;
	font-size: 1.4em;
	color: inherit;
	text-decoration: none;
}

nav {
	display: flex;
	align-items: space-between;
	margin-right: 1em;
   /* background-color: rgb(110, 187, 255); 
     */

}

header nav div a {
	padding-left: 1em;
	text-decoration: none;
	color: inherit;
}

header nav div a:hover {
	cursor: pointer;
	text-decoration: underline;
}

#info {
	display: flex;
	justify-content: space-around;
	align-items: center;	
	margin: 5em;
	gap: 1em;
}

img {
	display: inline-block;
	max-width: 300px;
}





/*
#info {
	font-size: 1.5em;
	width: 100%;
	height: 20em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: burlywood;
	margin-bottom: 5em;
}

header nav a {
	margin-left: 0.6em;
    margin-right: 0.6em;

}

a {
	text-decoration: none;
	color: inherit;
}

header nav a:hover:not(.logo) {
    cursor: pointer;
    border-bottom: 3px solid whitesmoke;
}

body {
    margin: 0;
	display: flex;
	flex-direction: column;
    background-color: rgb(166, 210, 249);
    color: whitesmoke;

}

main {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    padding: 1.4em;
    margin: 1em;
    font-weight: 800;
    font-size: 1em;
    background-color:rgb(110, 187, 255);
    color: white;
    border-radius: 0.5em;
    border: none;
    transition: box-shadow 0.3s;
}
button:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px white;
}


footer{
	background-color: rgb(110, 187, 255);;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2em 0 0 0;
	padding: 0 1em;
}

#contact {
	vertical-align: center;
}