
:root {
    --black: #1B1B32;
    --white: #F5F6F7;
    --transition: 100ms ease-in-out;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
    font-size: 19px;
    font-family: Verdana, Tahoma, sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

nav {
	display: flex;
    width: 100%;
	align-items: center;
	justify-content: space-between;
	padding-right: 0.5em;
    padding-top: 0.5em;
	padding-bottom: 0.2em;
	font-size: 1.2em;
    background-color: var(--black);
    color: var(--white);
    font-weight: 800;
    position: fixed;
    top: 0;
}

header nav a {
	margin-left: 0.6em;
    margin-right: 0.6em;

}

a {
	text-decoration: none;
	color: inherit;
}

header nav a:hover:not(.logo) {
    cursor: pointer;
    border-bottom: 3px solid var(--white);
    transition: var(--transition);
}

body {
    margin: 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

main {
    margin: 10em auto;
    padding: 3em;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-align: justify;
}

button {
    width: 10em;
    height: 3em;
    margin: 1em;
    font-weight: 700;
    font-size: 1em;
    background-color: var(--black);
    color: var(--white);
    border-radius: 0.7em;
    border: none;
    transition: box-shadow 0.3s;
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
}
footer{
    font-size: 0.8em;
    background-color: var(--black);
    color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3em 0 0 0;
	padding: 0 1em;
}

#contact {
	vertical-align: center;
}